In [1]:
import numpy as np
import pandas as pd

In [2]:
mydata={
    "name":['baber','tayyab','shayan'],
    "marks":[23,34,24],
    "age"  :[22,21,23]
}

In [3]:
final_data=pd.DataFrame(mydata) ##this DataFrame is used to combine two or more columns into a single table

In [4]:
final_data

     name  marks  age
0   baber     23   22
1  tayyab     34   21
2  shayan     24   23

##converting data into csv file format

In [8]:
final_data.to_csv('mydata.csv')

In [9]:
final_data.to_csv('mydatawithout_index.csv',index=False) #tabel in csv format with out index value

In [10]:
final_data.describe() #this panda command will calculate the numeric columns states note where in R language this function is replaced by "summary()"

           marks   age
count   3.000000   3.0
mean   27.000000  22.0
std     6.082763   1.0
min    23.000000  21.0
25%    23.500000  21.5
50%    24.000000  22.0
75%    29.000000  22.5
max    34.000000  23.0